# Pandas Introduction

In [ ]:
import numpy as np
import pandas as pd

## Series object

In [ ]:
ser = pd.Series([10,20,30,40,50])

ser

In [ ]:
# Index access

ser[0]

### Element-wise operations

In [ ]:
ages = pd.Series([31,22,43,44,55])

ages

In [ ]:
ages * 2

In [ ]:
ages + 10

### Boolean selection

In [ ]:
ages>40

In [ ]:
# Returns the rows that are True

ages[ages>40]

---

## DataFrame object

In [ ]:
# Create a DataFrame using a dictionary

data = {"Name": ["Tim Miller", "Ann Carter", "Ellen Lee", "Sam Carr", "Al Ball", "Carl Zee", "Sara Martin"], 
        "Gender": ["Male", "Female", "Female", "Male", "Male", "Male", "Female"],
        "Age": [32, 44, 21, 19, 45, 27, 39]}

df = pd.DataFrame(data)

df

In [ ]:
# Show first 5 rows

df.head() # == df.head(5)

In [ ]:
# Show last 5 rows

df.tail()  # == df.tail(5)

In [ ]:
# Returns a column/Series object

df['Name']     # dictionary notation

In [ ]:
df.Name    # attribute notation; with tab completion

In [ ]:
# Assign a single value to every row in a column

df["Birth Year"] = 1989

df

In [ ]:
# Assign specific values to the rows in a column

df["Married"] = ['Yes', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No']     # must match the length of the DataFrame

df

## Selection and Filtering
### Column selection

In [ ]:
# Create a new DataFrame

df = pd.DataFrame(np.arange(100).reshape(10,10), columns = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j'])

df

In [ ]:
df['a']

In [ ]:
df[["a", "e", "j"]]    # providing a list selects multiple columns

In [ ]:
df[["j", "e", "a"]]

### Row selection

In [ ]:
df[:1]     # use slice syntax to select rows

In [ ]:
df[5:9]

In [ ]:
# boolean

df["j"] > 40

In [ ]:
# boolean selection

df[df["j"] > 40]

### Row and Column selection with loc
Allows you to select a subset of the rows and columns using the label/name of the row/column

In [ ]:
df

In [ ]:
# loc (inclusive) implies the name/label of the row, column

df.loc[:5, "b"]

In [ ]:
df.loc[6:, 'a':'e']    # consecutive (loc selection is inclusive)

In [ ]:
df.loc[2:6, ['c', 'f', 'i']]     # not consecutive

### Row and Column selection with iloc
Allows you to select a subset of the rows and columns using the index position of the row/column

In [ ]:
# iloc is for integer/index selection  (iloc selection is exclusive)

df.iloc[2:6, [2, 5, 8]]

In [ ]:
df.iloc[:, :-1]  # Returns all rows, and all columns except the last one

In [ ]:
df.iloc[:, -1] # Returns all rows and only the last column

In [ ]:
df.iloc[[5, 0, 3], [9, 5, 0]]  # Returns rows and columns in the order listed

---

# Data Acquisition

## xlsx (Excel)

In [ ]:
excel_df = pd.read_excel("Olympics.xlsx", sheet_name = 0)

excel_df.head()

## json

In [ ]:
# Using pandas

json_df = pd.read_json("Olympics.json", orient="records")

json_df.head()

#### Another json method

In [ ]:
# Using json library
import json

with open("Olympics.json", 'r') as f:
    datastore = json.load(f)
    
json_df2 = pd.DataFrame(datastore)

json_df2.head()

## csv

In [ ]:
csv_df = pd.read_csv("Olympics.csv")

csv_df.head()

## tsv

In [ ]:
tsv_df = pd.read_csv("Olympics.tsv", sep="\t")

tsv_df.head()

## mysql

**host** — Provides the hostName of MySQL server. Normally, if installed on local machine, it's termed ‘localhost’. In cases like cloud / dedicated third party server, provide the IP address.

**database** - Provides the name of the database to use.

**user & password** - The credentials to access the database.

**use_pure** — Symbolize Python implementation

In [ ]:
# pip install mysql-connector-python

import mysql.connector as connection

try:  
    mydb = connection.connect(host="localhost", database ='Student', user="root", passwd="root", use_pure=True)  
    query = "Select * from studentdetails;"  # SQL query to be executed or a table name.
    result_dataFrame = pd.read_sql(query, mydb)  # Result of the SQL query.
    mydb.close() # close the connection
except Exception as e:  
    mydb.close()  
    print(str(e))

# Output result to .csv
result_dataFrame.to_csv('my_sql.csv')

#### Another MySQL method

In [ ]:
# pip install mysqlclient

import MySQLdb
import pandas.io.sql as psql


# setup the database connection.
db=MySQLdb.connect(host=HOST, user=USER, passwd=PW, db=DBNAME)

# create the query
query = "select * from TABLENAME"

# execute the query and assign it to a pandas dataframe
df = psql.read_sql(query, con=db)
# close the database connection
db.close()


# Output result to .csv
df.to_csv('my_sql.csv')

#### SQLAlchemy method

In [ ]:
import sqlalchemy as sql

# USER is your username, PW is your password, DBHOST is the database host,  DB is the database you want to connect to.
connect_string = 'mysql://USER:PW@DBHOST/DB'
sql_engine = sql.create_engine(connect_string)

# You don't need to worry about cursors or opening/closing database connections.
query = "select * from TABLENAME"
df = pd.read_sql_query(query, sql_engine)

# Output result to .csv
df.to_csv('my_sql.csv')

---

# Getting Help

### Use a "?" (or shift + tab) for function/method signature and Docstring (description)

In [ ]:
pd.read_excel?

---

# Data Exploration

## Preview dataset

In [ ]:
df = pd.read_csv("Olympics.csv")

df.head()

In [ ]:
# Return a random sample of rows from the dataframe

df.sample(10)

### Determine the number of rows and columns in the DataFrame

In [ ]:
# (#rows, #columns)

df.shape

---

### Use dot-tab to view for object methods

In [ ]:
#df.

---

## Feature Selection (drop)
**axis = 0** refers to rows; **axis = 1** refers to columns

In [ ]:
# drop features; returns a copy

df = df.drop(['id', 'name'], axis=1)

df.head()

---

## Descriptive and summary statistics

In [ ]:
df.info()

### Describe the numerical data

In [ ]:
df.describe()

### Useful methods for describing numerical data

In [ ]:
df["height"].min()
# df["height"].max()
# df["height"].mean()
# df["gold"].sum()

---

### Describe the categorical data

In [ ]:
df.describe(include="object")

---

### Unique values

In [ ]:
df["sport"].unique()

In [ ]:
# Alphabetizes results

set(df["sport"])

### Number of unique values

In [ ]:
df["sport"].nunique()

In [ ]:
len(df["sport"].unique())

---

## Feature Transformation

In [ ]:
df.head()

In [ ]:
# Transform height and weight to inches and pounds:
# 1 meter = 39.3700787 inches
# 1 kg = 2.20462262 pounds

inches = 39.3700787
pounds = 2.20462262

# element-wise operations
df["height(in)"] = df["height"]*inches 
df["weight(lbs)"] = df["weight"]*pounds 

df.head()

---

## Feature Engineering

In [ ]:
# Combine height and weight into "bmi" feature
# bmi = weight(kg)/height(m)**2

df["bmi"] = df["weight"]/(df["height"]**2)
df.head()

In [ ]:
# Create a feature representing total medals won:

df["medal_ct"] = df["gold"] + df["silver"] + df["bronze"]
df.head()

---

### Drop Features

In [ ]:
# Drop columns

df = df.drop(["height", "weight", "height(in)", "weight(lbs)"], axis=1)
df.head()

---

## Get the top n of a feature

In [ ]:
# Features must be in a list, even if there's only one.
# Sort the rows by the indicated column

df[["nationality", "sport", "medal_ct"]].nlargest(10, columns="medal_ct")

In [ ]:
# Sort the rows by the indicated column

df[["nationality", "sport", "bmi"]].nsmallest(10, columns="bmi")

## Sort by a feature

In [ ]:
df[["nationality", "sport", "bmi"]].sort_values(by="bmi", ascending=True)

---

## Boolean Selection

In [ ]:
df["sport"]=="tennis"

In [ ]:
df["sport"].isin(["tennis"])

In [ ]:
# isin() is like using an "or" statement

df["sport"].isin(["tennis", "table tennis"])

### Using boolean for row selection

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), ["sport", "sex"]]

---

## Useful methods

### mode()

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "sex"].mode()

### median()

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "bmi"].median()

### sum()
#### Sum over a column in a selection

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "medal_ct"].sum()

### count()
#### Returns the number of rows included in a selection

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "sport"].count()

### value_counts()
#### Returns the count of each unique category for a column in a selection

In [ ]:
df.loc[df["sport"].isin(["tennis","table tennis"]), "sport"].value_counts()

---

# Interview the data

### And (&) operation

#### How many athletes are clinically obese and won a gold medal?

In [ ]:
df.loc[(df["bmi"] > 29) & (df["gold"] > 0), 'sport'].count()

#### How many athletes are clinically underweight and compete for the "USA"?

In [ ]:
df.loc[(df["bmi"] < 19) & (df["nationality"] == "USA"), "sport"].count()

### Or ( | ) operation

#### How many athletes, by sport,  are either clinically underweight or clinically obese and won any medal?

In [ ]:
df.loc[((df["bmi"] < 19) | 
        (df["bmi"] > 29)) & 
        (df["medal_ct"] > 0), "sport"].value_counts()

---

## Getting the max and min counts for value_counts()

#### Get the largest quantity for value_counts() by using index [0]

In [ ]:
df.loc[((df["bmi"] < 19) | 
        (df["bmi"] > 29)) & 
        (df["medal_ct"] >0), "sport"].value_counts()[0] # [-1]

#### Get category associated with the largest quantity for value_counts() by using idxmax()

In [ ]:
df.loc[((df["bmi"] < 19) | 
        (df["bmi"] > 29)) & 
        (df["medal_ct"] >0), "sport"].value_counts().idxmax() # .idxmin()

---

## Export DataFrame

### to csv

In [ ]:
#df.to_csv("my_data.csv", index=False)

### to Excel

In [ ]:
#df.to_excel("my_data.xlsx", index=False)