<a href="https://colab.research.google.com/github/iArtificialPeru/WranglingModeling/blob/main/Day%202%20-%20Notebooks/01%20Imputation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Imputation

In [1]:
import numpy as np
import pandas as pd

In [6]:
from google.colab import drive
import os

drive.mount('/content/drive/')

os.chdir('/content/drive/MyDrive/GitHub/WranglingModeling/Day 2 - Notebooks')
for item in os.listdir():
  print(item)

Drive already mounted at /content/drive/; to attempt to forcibly remount, call drive.mount("/content/drive/", force_remount=True).
titanic.csv
grad_admit.csv
prof_ratings.csv
predict_grades.csv
diabetes.csv
heart-disease.csv
grad_admit_.csv
employee_attrition_.csv
job_promotion_.csv
06 Matplotlib - Exercise .ipynb
18  The Data Science Process - Exercise.ipynb
11 Feature Selection (Data Visualization).ipynb
10 Feature Selection - Most Important Features.ipynb
04 Data Transformation Exercise .ipynb
09 Project Exercise .ipynb
01 Imputation.ipynb
02 Imputation - Exercise .ipynb
02 Imputation - Exercise Solutions.ipynb
04 Data Transformation Exercise-Solutions.ipynb
05 Data Visualization (Matplotlib).ipynb
06 Matplotlib - Exercise Solutions.ipynb
07 Data Visualization (Seaborn).ipynb
08 Algorithms Example.ipynb
03 Data Transformation.ipynb
09 Project Exercise- Solution.ipynb
12 Feature Extraction (PCA).ipynb
14 Saving a model (classification).ipynb
15 Loading a model to make predictions (classification).ipynb
13 Model evaluation walk through.ipynb
16 Saving a model (regression).ipynb
17 Loading a model to make predictions (regression).ipynb
18 The Data Science Process - Exercise Solutions.ipynb

### Diabetes dataset

In [7]:
df = pd.read_csv("diabetes.csv")
df.head()

,age,num_preg,glucose_conc,insulin,diastolic_bp,thickness,bmi,diabetes
0,50,6,148,0,72,35,33.6,True
1,31,1,85,0,66,29,26.6,False
2,32,8,183,0,64,0,23.3,True
3,21,1,89,94,66,23,28.1,False
4,33,0,137,168,40,35,43.1,True

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   age           768 non-null    int64
 1   num_preg      768 non-null    int64
 2   glucose_conc  768 non-null    int64
 3   insulin       768 non-null    int64
 4   diastolic_bp  768 non-null    int64
 5   thickness     768 non-null    int64
 6   bmi           768 non-null    float64
 7   diabetes      768 non-null    bool
dtypes: bool(1), float64(1), int64(6)
memory usage: 42.9 KB

## Explore the bad values

In [9]:
# Note the min values

df.describe()

,age,num_preg,glucose_conc,insulin,diastolic_bp,thickness,bmi
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,33.240885,3.845052,120.894531,79.799479,69.105469,20.536458,31.992578
std,11.760232,3.369578,31.972618,115.244002,19.355807,15.952218,7.884160
min,21.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,24.000000,1.000000,99.000000,0.000000,62.000000,0.000000,27.300000
50%,29.000000,3.000000,117.000000,30.500000,72.000000,23.000000,32.000000
75%,41.000000,6.000000,140.250000,127.250000,80.000000,32.000000,36.600000
max,81.000000,17.000000,199.000000,846.000000,122.000000,99.000000,67.100000

In [10]:
df["insulin"].describe()

count    768.000000
mean      79.799479
std      115.244002
min        0.000000
25%        0.000000
50%       30.500000
75%      127.250000
max      846.000000
Name: insulin, dtype: float64

In [11]:
# First 10 rows

df["insulin"].head(10)

0      0
1      0
2      0
3     94
4    168
5      0
6     88
7      0
8    543
9      0
Name: insulin, dtype: int64

---

# The benefit of setting bad values to NaN for imputation

## Set bad "insulin" values to NAN

In [12]:
# Replace the zeros with np.nan (Not a Number)

df.loc[df["insulin"]==0, "insulin"] = np.nan

df["insulin"].head(10)

0      NaN
1      NaN
2      NaN
3     94.0
4    168.0
5      NaN
6     88.0
7      NaN
8    543.0
9      NaN
Name: insulin, dtype: float64

In [13]:
df["insulin"].describe()

count    394.000000
mean     155.548223
std      118.775855
min       14.000000
25%       76.250000
50%      125.000000
75%      190.000000
max      846.000000
Name: insulin, dtype: float64

# Impute the bad values

In [14]:
# Set the null (NaN) insulin values equal to the mean insulin value:

df.loc[df["insulin"].isnull(), "insulin"] = df["insulin"].mean()

In [15]:
df["insulin"].head(10)

0    155.548223
1    155.548223
2    155.548223
3     94.000000
4    168.000000
5    155.548223
6     88.000000
7    155.548223
8    543.000000
9    155.548223
Name: insulin, dtype: float64

---

# More Refined Imputation

#### Reset the data

In [16]:
df = pd.read_csv("diabetes.csv")

## Set missing values to NAN

In [17]:
# Replace the zeros with np.nan (Not a Number)

df.loc[df["insulin"]==0, "insulin"] = np.nan

# First 10 rows
df["insulin"].head(10)

0      NaN
1      NaN
2      NaN
3     94.0
4    168.0
5      NaN
6     88.0
7      NaN
8    543.0
9      NaN
Name: insulin, dtype: float64

## Evaluate age

In [18]:
# Approximatel 75% of individuals are under 40 years old

df['age'].describe()

count    768.000000
mean      33.240885
std       11.760232
min       21.000000
25%       24.000000
50%       29.000000
75%       41.000000
max       81.000000
Name: age, dtype: float64

## Obtain mean insulin value by age range

In [19]:
# Mean insulin level under 41

df.loc[df["age"] <= 40, "insulin"].mean()

145.67592592592592

In [20]:
# Mean insulin level over 40

df.loc[df["age"] > 40, "insulin"].mean()

201.24285714285713

[link text](https://)## Impute the bad values

In [26]:
# Impute missing insulin values for samples under 41 years old

df.loc[(df["age"] <= 40) & (df["insulin"].isnull()), "insulin"] = df.loc[df["age"] <= 40, "insulin"].mean()

In [28]:
# Impute missing insulin values for samples over 40 years old

df.loc[(df["age"] > 40) & (df["insulin"].isnull()), "insulin"] = df.loc[df["age"]> 40, "insulin"].mean()

#### View the imputation

In [29]:
df[["age", "insulin"]].head(10)

   age     insulin
0   50  201.242857
1   31  145.675926
2   32  145.675926
3   21   94.000000
4   33  168.000000
5   30  145.675926
6   26   88.000000
7   29  145.675926
8   53  543.000000
9   54  201.242857

---

---

# Imputation using sklearn's SimpleImputer

In [34]:
from sklearn.impute import SimpleImputer

# Set what determines a bad/missing value, set how to replace that value
fill_nan = SimpleImputer(missing_values=np.nan, strategy="mean")

In [35]:
# See default values

SimpleImputer # use shift+tab

sklearn.impute._base.SimpleImputer

### Impute missing insulin values for samples under 41 years old

In [36]:
# "fit" calculates the replacement value, "transform" replaces the bad values with the replacement value

df.loc[df["age"] <= 40, "insulin"] = fill_nan.fit_transform(df.loc[df["age"] <= 40, "insulin"].values.reshape(-1, 1))

### Impute missing insulin values for samples over 40 years old

In [37]:
df.loc[df["age"] > 40, "insulin"] = fill_nan.fit_transform(df.loc[df["age"] > 40, "insulin"].values.reshape(-1, 1))

#### View the imputation

In [38]:
df[["age", "insulin"]].head(10)

   age     insulin
0   50  201.242857
1   31  145.675926
2   32  145.675926
3   21   94.000000
4   33  168.000000
5   30  145.675926
6   26   88.000000
7   29  145.675926
8   53  543.000000
9   54  201.242857

---

## Explanation of the imputation's reshape()

In [39]:
# Returns a Series

df.loc[df["age"] > 40, "insulin"]

0      201.242857
8      543.000000
9      201.242857
12     201.242857
13     846.000000
          ...
757    201.242857
759    201.242857
761    201.242857
763    180.000000
766    201.242857
Name: insulin, Length: 194, dtype: float64

In [40]:
# Returns an array of numbers (1-dimensional)

df.loc[df["age"] > 40, "insulin"].values

array([201.24285714, 543.        , 201.24285714, 201.24285714,
       846.        , 175.        , 201.24285714, 201.24285714,
       146.        , 115.        , 201.24285714, 110.        ,
       201.24285714, 201.24285714, 201.24285714, 207.        ,
       201.24285714, 240.        , 300.        , 342.        ,
       304.        , 201.24285714, 201.24285714, 201.24285714,
       201.24285714, 201.24285714, 201.24285714, 110.        ,
        48.        , 201.24285714, 495.        , 201.24285714,
       201.24285714, 201.24285714, 201.24285714, 201.24285714,
       201.24285714, 201.24285714, 155.        , 201.24285714,
       114.        , 105.        , 156.        , 201.24285714,
       201.24285714, 201.24285714, 495.        , 201.24285714,
       190.        , 280.        , 201.24285714, 201.24285714,
       201.24285714, 201.24285714, 201.24285714, 190.        ,
       370.        , 192.        , 201.24285714, 201.24285714,
       201.24285714, 258.        , 150.        , 201.24285714,
        67.        , 201.24285714, 201.24285714, 201.24285714,
       201.24285714, 135.        , 201.24285714, 184.        ,
       201.24285714, 132.        , 201.24285714, 201.24285714,
       201.24285714,  29.        , 201.24285714, 201.24285714,
       201.24285714, 201.24285714, 201.24285714, 201.24285714,
       201.24285714, 108.        , 201.24285714, 201.24285714,
       201.24285714,  54.        , 201.24285714, 201.24285714,
       201.24285714, 140.        , 325.        , 201.24285714,
       285.        , 196.        , 201.24285714, 201.24285714,
       201.24285714, 180.        , 201.24285714, 201.24285714,
       201.24285714, 201.24285714, 237.        ,  60.        ,
        56.        , 201.24285714, 201.24285714, 201.24285714,
       265.        , 201.24285714, 201.24285714, 122.        ,
       201.24285714, 145.        , 201.24285714,  79.        ,
       201.24285714, 201.24285714, 201.24285714, 165.        ,
       201.24285714, 201.24285714, 326.        , 201.24285714,
       201.24285714, 201.24285714, 215.        , 201.24285714,
       207.        ,  67.        , 201.24285714, 201.24285714,
       201.24285714, 201.24285714, 126.        , 201.24285714,
       201.24285714, 201.24285714, 600.        , 201.24285714,
       156.        , 201.24285714, 201.24285714, 201.24285714,
       126.        , 144.        , 201.24285714, 201.24285714,
       201.24285714, 201.24285714, 201.24285714, 130.        ,
       200.        , 201.24285714, 201.24285714, 231.        ,
       201.24285714, 190.        , 100.        , 168.        ,
        49.        , 201.24285714, 201.24285714, 201.24285714,
       180.        , 201.24285714, 125.        , 480.        ,
       201.24285714, 201.24285714, 201.24285714, 201.24285714,
       201.24285714, 201.24285714, 127.        , 105.        ,
       201.24285714, 201.24285714, 201.24285714, 201.24285714,
       150.        , 201.24285714, 105.        , 201.24285714,
       201.24285714, 201.24285714, 201.24285714, 201.24285714,
       180.        , 201.24285714])

In [41]:
# reshaped to be (2-dimensional) rows x columns

df.loc[df["age"] > 40, "insulin"].values.reshape(-1,1)

array([[201.24285714],
       [543.        ],
       [201.24285714],
       [201.24285714],
       [846.        ],
       [175.        ],
       [201.24285714],
       [201.24285714],
       [146.        ],
       [115.        ],
       [201.24285714],
       [110.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [207.        ],
       [201.24285714],
       [240.        ],
       [300.        ],
       [342.        ],
       [304.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [110.        ],
       [ 48.        ],
       [201.24285714],
       [495.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [155.        ],
       [201.24285714],
       [114.        ],
       [105.        ],
       [156.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [495.        ],
       [201.24285714],
       [190.        ],
       [280.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [190.        ],
       [370.        ],
       [192.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [258.        ],
       [150.        ],
       [201.24285714],
       [ 67.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [135.        ],
       [201.24285714],
       [184.        ],
       [201.24285714],
       [132.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [ 29.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [108.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [ 54.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [140.        ],
       [325.        ],
       [201.24285714],
       [285.        ],
       [196.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [180.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [237.        ],
       [ 60.        ],
       [ 56.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [265.        ],
       [201.24285714],
       [201.24285714],
       [122.        ],
       [201.24285714],
       [145.        ],
       [201.24285714],
       [ 79.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [165.        ],
       [201.24285714],
       [201.24285714],
       [326.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [215.        ],
       [201.24285714],
       [207.        ],
       [ 67.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [126.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [600.        ],
       [201.24285714],
       [156.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [126.        ],
       [144.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [130.        ],
       [200.        ],
       [201.24285714],
       [201.24285714],
       [231.        ],
       [201.24285714],
       [190.        ],
       [100.        ],
       [168.        ],
       [ 49.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [180.        ],
       [201.24285714],
       [125.        ],
       [480.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [127.        ],
       [105.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [150.        ],
       [201.24285714],
       [105.        ],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [201.24285714],
       [180.        ],
       [201.24285714]])

---